<z-keyboard
  #keyboard
  [isInteger]="true"
  [isNegative]="false"
  entertext="完成"
  (ngModelChange)="onChange($event)"
>
  <button (touchend)="keyboard.openKeyboard()"  class="numeric-input">正数 整数</button>
</z-keyboard>

<z-keyboard
  #keyboard1
  [isInteger]="false"
  [isNegative]="false"
  entertext="完成"
  (ngModelChange)="onChange($event)"
>
  <button (touchend)="keyboard1.openKeyboard()" class="numeric-input">正数 小数</button>
</z-keyboard>

<z-keyboard
  #keyboard2
  [isInteger]="true"
  [isNegative]="true"
  entertext="完成"
  (ngModelChange)="onChange($event)"
>
  <button (touchend)="keyboard2.openKeyboard()" class="numeric-input">可负数 整数</button></z-keyboard
>

<z-keyboard
  #keyboard3
  [isInteger]="false"
  [isNegative]="true"
  entertext="完成"
  (ngModelChange)="onChange($event)"
><button (touchend)="keyboard3.openKeyboard()" class="numeric-input">可负数 小数</button></z-keyboard>
